* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
#main {
  overflow: hidden;
  padding: 60px 0;
  background-color: rgb(88, 88, 88);
  white-space: nowrap;
}

#photo-slide {
display: inline-block;
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#photo-slide img {
  height: 300px;
  margin: 0 40px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
